// Cormorant Garamond

@font-face {
  font-family: "Cormorant Garamond";
  src: url("../../assets/fonts/CormorantGaramond-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}

// Manrope

@font-face {
  font-family: "Manrope";
  src: url("../../assets/fonts/Manrope-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: normal;
  font-display: swap;
}
