@import "../../../styles/utils/variables";
@import "../../../styles/utils/colors";

.docs-process {
  .main-title {
    text-align: center;
  }

  .process-list {
    display: flex;
    max-width: 539px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: {
      top: 16px;
      right: auto;
      bottom: 0;
      left: auto;
    }
    gap: 16px;
  }

  .process-item {
    position: relative;
    padding-left: 46px;

    &-number {
      position: absolute;
      display: flex;
      top: 0;
      left: 0;
      width: 36px;
      height: 36px;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1px;
        border-radius: inherit;
        background: linear-gradient(
          360deg,
          #b98600 0%,
          rgba(212, 160, 23, 0) 100%
        );
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
    }

    &:not(:last-child) {
      .process-item-number::after {
        content: "";
        position: absolute;
        bottom: -80%;
        left: 50%;
        width: 1px;
        height: 44px;
        background: linear-gradient(
          180deg,
          rgba(212, 160, 23, 0) 0%,
          #d4a017 50%,
          rgba(212, 160, 23, 0) 100%
        );
        transform: translateY(50%);
      }
    }

    &-desc {
      margin-top: 6px;
      color: color("opacities", "white-70%");
    }
  }
}

@media (min-width: $large-screen) {
  .docs-process {
    .main-title {
      text-align: left;
    }

    .process-list {
      max-width: 96%;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: 56px;
      gap: 16px;
    }

    .process-item {
      position: relative;
      flex: 1;
      padding-left: 0;

      &-number {
        top: -10px;
        width: 42px;
        height: 42px;
      }

      &-title {
        min-height: 48px;
        padding-left: 52px;
        font-size: 18px;
      }

      &-desc {
        margin-top: 12px;
        font-size: 16px;
      }

      &:not(:last-child) {
        .process-item-number::after {
          display: none;
        }
      }
    }
  }
}
