@import "../../../styles/utils/variables";
@import "../../../styles/utils/colors";

.fleet-section {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 340px;
    background: linear-gradient(
      0deg,
      #06121f 25%,
      rgba(18, 32, 51, 0.5) 50%,
      rgba(217, 217, 217, 0) 100%
    );
  }

  .fleet-cards {
    margin-top: 26px;
  }

  &-cards {
    margin-top: 26px;
  }
}

.car-card {
  background-color: color("primary", "ivory");
  overflow: hidden;

  &-img {
    width: 100%;
    object-fit: contain;
  }

  &-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 346px;
    padding: 16px;
    text-align: center;

    .car-title {
      font-size: 18px;
      text-transform: uppercase;
    }

    .car-model {
      font-size: 14px;
      color: color("primary", "dark-gold");
    }

    .car-desc {
      margin-top: 8px;
      line-height: 1.3;
    }
  }

  .car-card-specif {
    max-width: 194px;
    margin: auto;
    text-align: left;
  }

  .more-btn {
    max-width: 220px;
    margin-top: auto;
  }

  .icon-arrow {
    margin-left: 12px;
    vertical-align: middle;
  }
}

@media (min-width: $medium-screen) {
  .fleet-section {
    .fleet-cards {
      margin-top: 32px;
    }
  }

  .car-card-desc {
    min-height: 360px;
    padding: 20px;

    .car-title {
      font-size: 20px;
    }

    .car-model {
      font-size: 15px;
    }

    .car-desc {
      margin-top: 8px;
      font-size: 16px;
    }
  }

  .car-card-specif {
    font-size: 16px;
  }

  .more-btn {
    max-width: 256px;
  }
}

@media (min-width: $desktop) {
  .fleet-section {
    // .main-title,
    // .desc {
    //   text-align: left;
    //   margin: 0;
    // }

    .slider-btn {
      display: none;
    }
  }
}
