@import "../../../styles/utils/variables";
@import "../../../styles/utils/colors";

.process-section {
  .desc {
    text-align: center;
  }

  .process-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    gap: 16px;
  }

  .process-list {
    align-self: flex-start;

    .process-step {
      position: relative;
      padding-left: 42px;
      font-size: 18px;

      & + .process-step {
        margin-top: 16px;
      }

      &-number {
        position: absolute;
        display: flex;
        top: -4px;
        left: 0;
        width: 36px;
        height: 36px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          padding: 1px;
          border-radius: inherit;
          background: linear-gradient(
            360deg,
            #b98600 0%,
            rgba(212, 160, 23, 0) 100%
          );
          -webkit-mask:
            linear-gradient(#fff 0 0) content-box,
            linear-gradient(#fff 0 0);
          -webkit-mask-composite: xor;
          mask-composite: exclude;
        }
      }

      &:not(:last-child) {
        .process-step-number::after {
          content: "";
          position: absolute;
          bottom: -80%;
          left: 50%;
          width: 1px;
          height: 40px;
          background: linear-gradient(
            180deg,
            rgba(212, 160, 23, 0) 0%,
            #d4a017 50%,
            rgba(212, 160, 23, 0) 100%
          );
          transform: translateY(50%);
        }
      }

      &-title {
        font-size: 18px;
      }

      &-desc {
        margin-top: 6px;
        font-size: 16px;
        color: color("opacities", "white-70%");
      }
    }
  }
}

@media (min-width: $medium-screen) {
  .process-section {
    .desc {
      text-align: left;
    }

    .header-wrap {
      max-width: 50%;
    }

    .process-content {
      display: flex;
      flex-direction: row;
      margin-top: 26px;
      gap: 32px;

      &-cta .ask-btn {
        margin: 0 auto;
      }
    }

    .process-list {
      max-width: 534px;

      .process-step {
        min-height: 72px;
        padding-left: 52px;
        font-size: 16px;

        & + .process-step {
          margin-top: 32px;
        }

        &-number {
          top: -4px;
          width: 42px;
          height: 42px;
        }

        &:not(:last-child) {
          .process-step-number::after {
            height: 52px;
          }
        }

        &-title {
          font-size: 18px;
        }

        &-desc {
          margin-top: 8px;
        }
      }
    }
  }
}
